body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  h1 {
    color: #33cccc;
  }
  
  #q {
    font-size: 24px;
  }
  
  .dropdown {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
  }
  
  
  .dropdown-content {
    border: 2px black solid;
    font-size:20px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    cursor: grab;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content p:hover {background-color:#aaf1ff}
  
  
  .shadow {
    border: 2px black solid;
    width: 200px;
    color:#33cccc;
    font-size: 20px;
  }
  
  
  
  
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .btn0{
      background-color: rgb(28, 211, 125);
      width: 250px;
      height: auto;
      font-size: 20px;
      color: #09383ac4;
      border: 1px solid #1D3C6A;
      margin: 10px 40px 10px 0px;
      padding: 10px 10px;
  }
  
  .btn0:hover{
    cursor:pointer;
    background-color:#01BBFF;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
